p{
    color:rgb(8, 8, 8);

}

/*
<селектор> {
    <свойство1>: <значение>;
    <свойство2>: <значение>;
    <свойство3>: <значение>;

}

Селектор-это набор правил, которым должны соответствовать элементы(тэги)
html, для применения к ним стилей.
*/
/*
 Селектор по тегу
 * применится ко всем тегам p в документе
 */
 p{
    font-weight: 900;
 }
 /*
 селектор по идентификатору
 */
 #test{
     border: 50px double pink; 
 }

 /* 
 селектор по классу
 */

 .g1{
    font-style: italic;
 }
 .c1{
     text-decoration: underline;
 }

/*
Селектор по атрибутам
*/
 a[href]{
     background-color: olive;
 }    

 /* для всех p, у которых id="test"*/
 p[id="test"]{
    cursor: pointer;
 }
 /* $= для всех тегов a, у которых значение атрибута href
    заканичвается на ru */
    a[href$="ru"]  {
        border: 10px dotted green;
    }
/* &^= для всех тегов a, у которых значение атрибута href
    начинается с "https" */
 a[href^="https"]  {
     border: 10px dotted white;
 }
 /*
 *= "выражение" значение атрибута содержить часть выражения
 ~= "выражение" значение атрибута содержит выражение отделенное пробелом
   Пример:
   <div class ="c1 c2 c3"></div>
   
   div[class~="c2"] {}
 */
 /*
 Селектор по псевдоклассу
 */
 a:visited{
     text-decoration: line-through;
 }

 